<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loyalty</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body{
  
  
  }
  h1,p{
   text-transform:uppercase;
    letter-spacing: 3px;
   }
  .nav-item{
    margin:0px 10px 0 10px;
   }
   .btn--gold{
    background-color:#886735;
     color:#FFFFFF;
     margin:20px 0px 5px 0px ;
    }
     .btn--white{
    background-color:#FFFFFF;
     color:#886735;
       margin:20px 0px 5px 0px ;
    }
    .btn--gold:hover{
      background-color:rgb(228,99,70);
    }
    .btn--white:hover{
      background-color:rgb(228,99,70);
    }
    .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
 li a{
 color:white;
 text-decoration:underline;
 }
 a:hover{
  color:#886735;
 }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
  <a class="navbar-brand" href="/">Food Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="/menu/">Menu </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catering">Catering</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/shop">Shop</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/loyalty">Loyalty</a>
      </li>
		 <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
		</li>
		 <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
       <li class="nav-item"  style="background-color:#886735;color:#FFFFFF;padding:5px 10px 5px 10px">
        <a class="nav-link" href="/store/order/id">Order Online</a>
      </li> 
      
    </ul>
  
  </div>  
  <li class="nav-item"  style="float:right">
		  
        <a class="nav-link" href="/store/cart/null" style="display:inline"><i class="fa fa-cart-plus" style="font-size:36px;color:#886735;padding:5px 10px 5px 10px;"></i></a>
		 
      </li> 
</nav>


<div style="width:100%;height:40px"></div>
	<div class="container">
<% if(error && error.length>0){ %>
	<div style="width:100%;height:40px"></div>
<div class="alert alert-danger" role="alert"> <%= error %></div>
<% }%>
	<% if(success && success.length>0) { %>
	<div style="width:100%;height:40px"></div>
<div class="alert alert-success" role="alert"> <%= success %></div>
</div>
 <% } %>
	</div>
<div style=" background-image:url('https://image.freepik.com/free-photo/long-table-dinner-party-fine-dining-reataurant_71163-383.jpg');
  background-repeat:no-repeat;background-attchment:fixed;background-size:cover;padding:50px 10px 20px 10px">
        <div style="text-align:center;color:#FFFFFF;text-shadow:2px 2px 15px red">
             <h1 style="font-size:80px;margin:100px 0px 50px;" >Pitmaster's club</h1>
                
        </div>
</div>
<div style="text-align:center">
  <p style="margin:70px auto;font-size:50px">how to join</p>
   <div style="padding:0px 10px 100px 10px;margin:10px 50px"> 
                <div class="row" >
                    <div class="col-sm-4">  
                       <p style="color:#886735;font-size:20px;font-style:italic">1.Get a card</p>
                       <img src="https://lh3.googleusercontent.com/vONWRjhJkRVOTD6b7z-1ds2kdQ7Sv3KPwthTHWVUqsGiepNhxRX0V3ocUKjm9kIHEdEceZpUCg5zZVCXl4IlCeK7t6dgWQQ47l_UMhp-YIfBLYkpmG-Ao65HOL3Q9wJJJFTRs7iTy6z3os96SOgSxR7poaaLzT8dkLCTXdZEX4N-Af_GXaBR_0GEZdPZIXM_Y8fb5cVcBHZcPtD1H3IFu2IftijbNnH7l7WItDB1HjtHJMjAIjmJz7xJVaYl65CDzL1YoYJQXu6R9JxJr_QhNTPLAy9w7ujjovrwffGbu4xeGWvToQlWSinNyWJRoFSONMZ1QBqiU_J6ow5zb9ltXExbmCNHP-BFyo7dO0IHiZi8xO5_MSVfkC9HB3lZBg6M6bmeUcdbvRsW6gP-4hy3VTSk4UcSIBXc4M1g85uJXqGwfozI5A81esLWuhbOCk42bE6fgwcrSHjfEXq-5EZXQcDYmHLbUJZ5IECf6TeMLRb6lhUNijMIfj07PCKT-85mUcUpB-RzwkAIdqxO4d1JWXU6RZ8iQ2IEKfTOB3nneMhX3p9g_YdKFRA8uSxtyWSrhh22_-6dPSOAoVahPv4U5ZQh66KxEDFVY-0-Hi4XJGCMS1KYT16hzUVs9FRj9gh0cqPrzywQJqhORXPH3BqgDoyDJl0f6_EVauvPmRiVuHXrwtRoSeKluCDN_B9gMA=w252-h153-no?authuser=0" style="display:block;margin:auto"> 
                       <p>shop by 4rivers,pick up a card,and get your card swiped on your first purchase</p>
                    </div>
                    <div class="col-sm-4">
                   <p style="color:#886735;font-size:20px;font-style:italic">2.register</p>
                       <img src="https://lh3.googleusercontent.com/OSADKRL5HiiSGG0K72ejWjm11fNuomIwtwDSK_YcYFVSzvbparbsozZGJ91CfuvlIoFTx2OuThzHWQScQDRmZk19K8gaLWlowydciM_c6ipFsmxTjdn81iXnnNsBj-OXRLHOMMPu356eFxIZSY5ew3towUT0nZQJJUjRCKDYK6sc-eIjbMmhJrm3s0USsgKW7uIUIusPMd9uZB7SzGIfnLUOyKhJo9mQ4o7Ngdrei5pALTygiXM4TDP3hzC_lesY9Zvs39O4DDokmHhG-x977EHR5I563vYKpecaNK1WRuI110aphE7Y7CbT_58AhTlcE7-lrpbdAWpKrbuoszTYWu3e9JO7UYbDORe8UeK3OX_skCnzHdauO8WqkjLhsteYD3hKhkIuqjdk9at_Cfdp4qhTStXetcd3hVf7_WZPg6wG9T7Gkg0mSJ7mF-v4o9Yja7SH1RliLHeZNOQ_VzV4KNTzSjvmP4YsTQrQky9xE0I9eYKObK_2Cr7jPJtyYwwVxP_12Prup3atz1VsFX96upxVlvDlI0Ol_OggXSGgWLzrXrGgrB-JgHqm1dWrR-vDwTy2gPVwjiWAf8vP_x31Jau-jRCrp5fQSZlqQ5FhFO7zQmTN48YNdKoGFI13uySOwzVU5xV89byINjygIBY3foQb-UR_Pd8FgDl_rOMIK4SbEjq4LhxftHuMf4VYNQ=w249-h149-no?authuser=0" style="display:block;margin:auto"> 
                       <p>Its fast,and esay to register your card </p>
                    </div>
                    <div class="col-sm-4">
                     <p style="color:#886735;font-size:20px;font-style:italic">3.come back & visit</p>
                       <img src="https://lh3.googleusercontent.com/ITXldxI7a42KFY8dxyKeDO02xz6sQIP5UAnbEMKMnmRt0dVmBoSwNYBQweu-X0Zf1EcISQZAiAFhcwyheixiUO28nXm9yn43gemOeTFgaY-sITk43PgDttyhaOWN961qLRHpTlGSFndS1iFxU-BU4iO9wPj_0Ns2REX8RUu5NnJuahPf19T91UHjO7nwc7kP7U8VbngpnftTeP5v-Y5gyehDjW4qrsFyOkTbwGf3JqBvxCaCQh4u7g5iWw83MyFatTdEDHSiwqdfvDcSXAKBig50D5blzfmTU6-jfgjISkc5gaiRUaSXfrFoAoPcN96TfVV6VFM8BfT5TTyQTN9Gu1kie0UpjksJ-dFqb_HmM81ojNb50rXsBU7idShQvtEN7Ko74SgmdRNpxsbwD0zMxIrXEdjDWVa6fVTkBz8S4IJYYtKy2nkCxLAIxvzu6nt5VPYL6-dcK2-cXwacKYYgiP8w1c7bq7piRxUh6oMnAFMbMlKobcaAJvHbdvaO4GRe4Db1uxT7Gpzkq_xSVK-rlp82aZq4Gn07cYZ9zOCxY5mOqmh3BM5ZngqwfK5e2Xq-Q8t7NFrkCHwhTLDm7U3NXfxMLC_LkvIEhu-W18b1Yw77ami4bSoFaDs3GZ3Jg6Z_ESu8TvseFoBHxqEDMZEeBhePo9IZKl9TtOMcTOCegdzjxyCKqhtiJ1D2svVtVA=w228-h134-no?authuser=0" style="display:block;margin:auto"> 
                       <p>get rewarded!</p>  
               
                    </div>
                </div>
                 
                </div>
</div>
<div style="background-color:#FFFFFF;">
     <div style="text-align:center;">
             <h1 style="font-size:50px;margin:0px auto;padding:20px 0px 10px;width:600px;">Rewards</h1>
             <p>$25 per every $500 you spent on pitmaster card</p>
       </div>
  </div>
<div style="color:#FFFFFF;text-shadow:2px 2px 15px red" class="clearfix">
<div style="float:left;width:33.33%;background-color:black;color:white">
   <h1 style="font-size:40px;font-style:italic;margin:auto;padding:80px;">Free Sandwich or stalker</h1>
</div>
<div style="float:left;width:33.33%;background-color:white;color:black">
 <h1 style="font-size:40px;font-style:italic;margin:auto;padding:80px;">Pitmaster Status</h1>
</div>
<div style="float:left;width:33.33%;background-color:black;color:white">
 <h1 style="font-size:40px;font-style:italic;margin: auto;padding:80px;">Happy Birthday to you</h1>
</div>
</div>
<div style="text-align:center;background-color:#FFFFFF;width:75%;margin:10px auto;">
             <p style="color:#886735;font-weight:bold;font-size:20px;margin:25px 10px 10px;">WANT TO CHECK YOUR REWARDS BALANCE?</p>
             <p>Once your card is registered, you can log into your account and check your rewards balance.</p>
             
               
              <p style="color:#886735;font-weight:bold;font-size:20px;margin:25px 10px 10px;">FINE PRINT</p>
               <p>Loyalty Members must activate their card online in order to start accruing any visits. The card must be swiped at the register to activate in the 4 Rivers system.</p>
             <p>A visit is considered a swipe of your Loyalty card and a Loyalty Member must purchase one of these items: sandwich, stacker, from the smoker, dinner, a salad, a pound of meat and/or a Sweet Shop item.</p>
              <p>Rewards are good for 1 year after the day you receive them.</p>
              <p>Loyalty members will receive an email on the 1st of the month of your birthday and are able to redeem it any time during your birthday month. 
               Birthday Treats include cupcakes, bombes, slices of cake, bar, brownie, cookie or scoop of ice cream from the Sweet Shop.</p>
               <p style="color:#886735;font-weight:bold;font-size:20px;margin:25px 10px 10px;">QUESTIONS?</p>
              <p>If you have any questions about the program, need help with your card, or have any issues at all, please let us know</p>
                <a href="/contactUs" class="btn btn--gold">Contact us</a>
                </br>
</div>
 
<div style="background-color:#FFFFFF;">
     <div style="text-align:center;border:1px solid black;">
             <h1 style="font-size:50px;margin:0px auto;padding:90px 0px 10px;width:600px;">Ready for dinner?</h1>
               </br>
                <a href="/locations" class="btn btn--gold"style="margin:0px 0px 50px;">Find a location</a>
                </br>
       </div>
  </div>

<div style="background-color:#000000;">
     <div style="text-align:center;color:#FFFFFF">
                <p style="font-size:16px;padding:65px 0px 5px 0px;">Subscribe to our mailing address</p>
                <div style="padding:0px 10px 100px 10px">
				 <form action="/subscribe" method="post">
                
                <div style="padding:0px 10px 100px 10px">
                <input type="text" placeholder="Enter Email" name="email" style="width:400px;padding:6px 12px;background-color:#FFFFFF;color:#000000;"/>
                  <button type="submit" class="btn btn--gold" value="subscribe" >Subscribe</button>
</form>
          
                </div>
             <div style="color:#FFFFFF;margin:0% 5%" class="clearfix">
              <div style="float:left;width:33.33%;padding:20px;">
               <p>LOCATIONS</p>
               
               
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/tirupathi" style="color:white" >TIRUPATHI</a> </br>
              
              
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/hyderabad" style="color:white">HYDERABAD</a></br>
               
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/bangalore"  style="color:white">BANGALORE</a>
              
               </div>
              
               
              
               <div style="float:left;width:30%;height:300px;padding:50px;margin:auto;background-image:url('https://image.freepik.com/free-photo/food-with-ingredients_1220-4884.jpg'); background-repeat:no-repeat;background-attchment:fixed;background-size:cover;">
				   <em style="font-size:20px" ><a href="/loyalty">Pitmaster loyalty Club</a></em>
               </div>
               <div style="float:left;width:30%;padding:20px;">
               <p>CONTACT DETAILS</p>
                <p >1-844-4RIVERS</p>
                 <p>(1-844-474-4456)</p>
                 <p>Downtown Orando</p>
                   <a href="/contactUs" class="btn btn--gold">CONTACT US</a>
               </div>
             </div>
           </div>
          </div>
</body>
</html>